
.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: relative;
    display: inline-block;
}
.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
}
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    display: inline-block;
}